<ion-header class="sub-menu-header normal">
  <ion-toolbar color="primary" class="toolbar-header" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" icon="close" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="lato-bold">Kueisioner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="kuesioner-hasil ion-padding justify-content-center">
    <div class="image-status">
      <img src="assets/icon/illustration/ico-result.svg" />
    </div>

    <h4 class="content-title">Terima kasih telah menyelesaikan semua Kuesioner</h4>

    <h4 class="content-subtitle">Hasil skor <span>{{ result.name }}</span> </h4>

    <div class="hasil-skor">
      <ion-row class="ion-no-padding w-100">
        <ion-col class="hasil ion-no-padding" size="6">
          <h4 class="jenis-kuesioner">Pengetahuan</h4>
          <h3 class="skor">{{ result.kuisioner_pengetahuan_result }}</h3>
        </ion-col>
        <ion-col class="hasil ion-no-padding">
          <h4 class="jenis-kuesioner">Sikap</h4>
          <h3 class="skor">{{ result.kuisioner_sikap_result }} ( {{ quality.nama }} )</h3>

        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block" color="primary" class="ion-activatable ripple-parent" (click)="goTo('kueisioner')"> Coba Lagi</ion-button>
</ion-footer>