.image-container {

    img {
      width: 100%;
      height: 100px;
      border-radius: 7px;
      object-fit: cover;
    }
  
}

.image-container-1 {
    margin-top: 20px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    ion-col {
      padding : 5px;
  
      img {
        width: 100%;
        height: 160px;
        border-radius: 7px;
        object-fit: cover;
      }
    }
  }
  
  .notif-nbd{
    box-shadow: none !important;
    margin-top: 40px;
    border-radius: 7px;
    background-color: #FFF4E9;

    ion-label {
      height: 17px;
      width: 275px;
      color: #FFAA63;
      font-family: Lato;
      font-size: 14px;
      line-height: 17px;
      text-align: justify;
      ion-text {
        margin-left: 5px;
      }
    }
  }