<ion-header class="sub-menu-header normal">
  <ion-toolbar color="primary" class="toolbar-header" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="kueisioner" icon="arrow-round-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="lato-bold">Kueisioner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-no-padding-top">
    <h4 class="content-title ion-no-margin-left">B. Kuesioner Sikap</h4>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list class="kueisioners">
          <ion-item lines="none" class="items">
            <ion-label>Saya telah mengetahui  tentang pengertian dan manfaat sinar X.</ion-label>
            <ion-select value="notifications" interface="action-sheet">
              <h4>Pilih Jawaban</h4>
              <ion-select-option>Sangat Setuju</ion-select-option>
              <ion-select-option>Setuju</ion-select-option>
              <ion-select-option>Kurang Setuju</ion-select-option>
              <ion-select-option>Tidak Setuju</ion-select-option>
              <ion-select-option>Sangat Tidak Setuju</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" class="items">
            <ion-label>Saya telah mengetahui  tentang pengertian dan manfaat sinar X.</ion-label>
            <ion-select value="notifications" interface="action-sheet">
              <h4>Pilih Jawaban</h4>
              <ion-select-option>Sangat Setuju</ion-select-option>
              <ion-select-option>Setuju</ion-select-option>
              <ion-select-option>Kurang Setuju</ion-select-option>
              <ion-select-option>Tidak Setuju</ion-select-option>
              <ion-select-option>Sangat Tidak Setuju</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" class="items">
            <ion-label>Saya telah mengetahui  tentang pengertian dan manfaat sinar X.</ion-label>
            <ion-select value="notifications" interface="action-sheet">
              <h4>Pilih Jawaban</h4>
              <ion-select-option>Sangat Setuju</ion-select-option>
              <ion-select-option>Setuju</ion-select-option>
              <ion-select-option>Kurang Setuju</ion-select-option>
              <ion-select-option>Tidak Setuju</ion-select-option>
              <ion-select-option>Sangat Tidak Setuju</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" class="items">
            <ion-label>Saya telah mengetahui  tentang pengertian dan manfaat sinar X.</ion-label>
            <ion-select value="notifications" interface="action-sheet">
              <h4>Pilih Jawaban</h4>
              <ion-select-option>Sangat Setuju</ion-select-option>
              <ion-select-option>Setuju</ion-select-option>
              <ion-select-option>Kurang Setuju</ion-select-option>
              <ion-select-option>Tidak Setuju</ion-select-option>
              <ion-select-option>Sangat Tidak Setuju</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" class="items">
            <ion-label>Saya telah mengetahui  tentang pengertian dan manfaat sinar X.</ion-label>
            <ion-select value="notifications" interface="action-sheet">
              <h4>Pilih Jawaban</h4>
              <ion-select-option>Sangat Setuju</ion-select-option>
              <ion-select-option>Setuju</ion-select-option>
              <ion-select-option>Kurang Setuju</ion-select-option>
              <ion-select-option>Tidak Setuju</ion-select-option>
              <ion-select-option>Sangat Tidak Setuju</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" class="items">
            <ion-label>Saya telah mengetahui  tentang pengertian dan manfaat sinar X.</ion-label>
            <ion-select value="notifications" interface="action-sheet">
              <h4>Pilih Jawaban</h4>
              <ion-select-option>Sangat Setuju</ion-select-option>
              <ion-select-option>Setuju</ion-select-option>
              <ion-select-option>Kurang Setuju</ion-select-option>
              <ion-select-option>Tidak Setuju</ion-select-option>
              <ion-select-option>Sangat Tidak Setuju</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" class="button w-100" (click)="goTo('kueisioner-hasil')">
            <ion-button expand="block" color="primary" class="ion-activatable ripple-parent" > Lihat Hasil</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
