<ion-content class="ion-no-padding">
    <div class="header">
      <div class="body-top-header">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="arrow-round-back" text=""></ion-back-button>
          </ion-buttons>
          <ion-title class="lato-bold">Bukti Edukasi</ion-title>
        </ion-toolbar>
      </div>
      <div class="body-bottom-header">
        <ion-toolbar color="primary">
          <ion-item class="name-input">
            <ion-input type="text" placeholder="Masukan nama pasien" (ionChange)="onInput($event)" [(ngModel)]="nama_pasien"></ion-input>
          </ion-item>
        </ion-toolbar>
      </div>
    </div>


    <ion-row class="ion-justify-content-center">
      <ion-col class="no-padding-bottom" size="12" size-md="6" size-xl="6">

        <ion-button expand="block" color="secondary" class="ion-margin" [disabled]="disabled_button" (click)="goTo()">
          <ion-icon name="md-download"></ion-icon>
          <ion-text>Download bukti Edukasi</ion-text>
        </ion-button>

      </ion-col>
    </ion-row>
</ion-content>
