.body-bottom-header{
  padding : 16px 20px 0 20px;

  ion-item {
    border-radius: 7px;
  }
}

.btn-download {
  height: 44px;
  border-radius: 7px;
  text-transform: capitalize;
  font-size: 16px;
}