/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family : 'Lato-Light';
    font-style  : normal;
    font-weight : normal;
    src         : url('../src/assets/fonts/Lato-Light.ttf');
}

@font-face {
    font-family : 'Lato-Regular';
    font-style  : normal;
    font-weight : normal;
    src         : url('../src/assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family : 'Lato-Bold';
    font-style  : normal;
    font-weight : normal;
    src         : url('../src/assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family : 'Lato-Semibold';
    font-style  : normal;
    font-weight : normal;
    src         : url('../src/assets/fonts/Lato-Semibold.ttf');
}

.lato-bold{
    --ion-font-family:  'Lato-Bold'!important;
    font-family:  'Lato-Bold' !important;
}

.lato-light{
    --ion-font-family:  'Lato-Light'!important;
    font-family:  'Lato-Light' !important;
}

.lato-regular{
    --ion-font-family:  'Lato-Regular'!important;
    font-family:  'Lato-Regular' !important;
}

.lato-semibold{
    --ion-font-family:  'Lato-Semibold'!important;
    font-family:  'Lato-Regular' !important;
}

.mt10 {
  margin-top : 10px;
}

.mt20 {
  margin-top : 20px;
}

.mt30 {
  margin-top : 30px;
}

.mt50 {
  margin-top : 50px;
}

.loading-style{
	width:80px;
	height:40px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.blob-1,.blob-2{
	width:20px;
	height:20px;
	position:absolute;
	background:#fff;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#0ff;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}

.sc-ion-loading-ios-h {
  --background: transparent !important;
}

.sc-ion-loading-md-h {
  --background: transparent !important;
}

ion-content {
  --font-family : "Lato-Regular" !important;
  font-family: "Lato-Regular" !important;
}

ion-button {
  --border-radius: 7px;
  height:45px;
  --box-shadow:none !important;
}

//General
.content-title {
  font-size: 16px;
  font-family: Lato-Bold;
  margin: 30px 25px 20px;
  text-align: left;
}

.notif {
    box-shadow: none !important;
    border-radius: 7px;
    background-color: #FFF4E9;
    margin:0 auto;

    ion-label {
      color: #FFAA63;
      font-family: Lato-Regular;
      font-size: 14px;
      text-align: justify;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      ion-icon {
        margin: 0 10px 0 0;
        font-size: 28px;
      }

      ion-text {
        font-size: 13px;
        line-height: 20px;
      }
    }
}

//home 
.header {
  height: 180px;
  max-height: 180px;
  background : var(--ion-color-primary);
  color: var(--ion-color-light);
  padding : 28px;

  .header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      margin:5px 0;
      width: 128px;
    }
    .tag-line {
      width: 240px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.menu-wrapper {
  z-index: 99;
  margin-top: 0;

  .box-menu {
    height: unset;
    box-shadow: none;
    padding-top: 0;
    background: #ffffff;
    margin: 10px 10px 30px;
    text-align: center;

    img{
      display: block;
      margin: auto;
      width: 62px;
      height: auto;
    }

    ion-label {
      color: var(--ion-color-heading) !important;
      display: block;
      font-size: 14px;
      font-family:Lato-Reguler;
      margin:15px 0 0;
    }

  }
}

.version {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;

  ion-text {
      font-size: 16px;
      font-weight: 300;
      color: #828282;
  }
}

.divider {
  background: #F5F7FB;
  height: 8px;
  width: 100%;
}

.ios .img-popover {
  --width: calc(100% - 10px);
  --height: auto;
  --background: transparent;
}

.md .img-popover {
  --width: calc(100% - 22px);
  --height: auto;
  --background: transparent;
}


//sub-menu
.sub-menu-header {
  position: fixed;
  width: 100vw;
  height: 155px;
  background : var(--ion-color-primary);
  color: var(--ion-color-light);
  z-index: 999;

  .md .toolbar-header{
    height: 65px;
    padding: 16px 0 0 0;
  }
  
  .ios .toolbar-header{
    height: 65px;
    padding: 16px 0 0 16px;
  }


  &.normal {
    height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;

    .md .toolbar-header {
      padding:16px 0;
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.body-bottom-header{
  height: 90px;
  padding-left : 5px;
  padding-right: 5px;
  padding-top: 20px;

  ion-toolbar.ion-color.sc-ion-searchbar-ios-h:not(.ion-color) .searchbar-input.sc-ion-searchbar-ios, ion-toolbar.ion-color .sc-ion-searchbar-ios-h:not(.ion-color) .searchbar-input.sc-ion-searchbar-ios {
      background: rgba(var(--ion-color-light-rgb),.2);
      color: currentColor;
  }
}

.body-dropdown {
  background-color: #FFF;
  overflow-y: scroll;
  max-height: 170px;
  z-index: 999;
  margin-top: -25px;
}


.description {
  margin-top : 150px;
  padding: 20px;
  position: relative;
}

.description-1 {
  padding: 20px;
  position: relative;
}

.title {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 5px;
}

.title-1 {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 5px;
}

.detail {
  margin-top: 12px;
  color: #606060;
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
}


//detail

.main-info {
  background-color: #fff;
  height: 101px;
  z-index: 999;
  position: relative;
  margin: 24px 16px -50px 16px;
  border-radius: 8px;
}

.main-body {
  overflow-y: scroll;
}

.info-wrapper {
  display: flex;

  ion-label {
    margin-left: 10px;
    margin-top: 25px;
  }

  p {
    color: #828282;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
  }

  h3 {
    color: #333;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    text-transform: capitalize;
  }

  img {
    width: 28px;
    height: 28px;
    margin-top: 30px;
    margin-left: 5px;
  }
}

.title {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 30px;
}

.detail {
  color: #606060;
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
}

.image-container {
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  ion-col {
    padding : 5px;

    img {
      width: 100%;
      height: 120px;
      border-radius: 7px;
      object-fit: cover;
    }
  }
}

.image-container-1 {
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  ion-col {
    padding : 5px;

    img {
      width: 100%;
      height: 120px;
      border-radius: 7px;
      object-fit: cover;
    }
  }
}

//Kuesioner Items

.kueisioners {
  padding:0;

  .items {
      --inner-padding-start:0;
      --inner-padding-end:0;
      --padding-start:15px;
      --padding-end:15px;
      --padding-top:10px;
      --padding-bottom:10px;
      --background:#E9FBF7;
      --border-radius:10px;
      margin-bottom:15px;

      ion-label{
          color: var(--ion-color-heading) !important;
          font-size: var(--font-text-size);
          font-family: Lato-Regular;
          flex: 0 0 80%;
          line-height: 20px;
          white-space: normal !important;
      }
      ion-select {
          color:var(--ion-color-heading);
          flex:0 0 20%;
          font-size: var(--font-text-size);
          font-family: Lato-Bold;
          padding-left:10px;
      }

      &.item-has-value {
          border:solid 1px var(--ion-color-primary);
          border-radius: 10px;
      }
  }
  .button {
      --inner-padding-start:0;
      --inner-padding-end:0;
      --padding-start:0;
      
      ion-button {
          width:100%;
      }
  }
}


/* --------------------
      COMMON HELPER
   -------------------- */

/* Display */

.ion-flex {
  display:flex !important;
}
.ion-block {
  display: block !important;
}

/* Width */

.w-25 {
  width: 25% !important; 
}
.w-30 {
  width: 30% !important;
}
.w-35 {
width: 35% !important; 
}
.w-40 {
width: 40% !important;
} 
.w-45 {
width: 45% !important; 
}
.w-50 {
  width: 50% !important; 
}
.w-55 {
width: 55% !important; 
}
.w-60 {
width: 60% !important;
} 
.w-65 {
width: 65% !important; 
}
.w-70 {
  width: 70% !important; 
} 
.w-75 {
  width: 75% !important; 
}
.w-80 {
width: 80% !important;
} 
.w-85 {
width: 85% !important; 
}
.w-90 {
  width: 90% !important; 
} 
.w-95 {
  width: 95% !important; 
}  
.w-100 {
  width: 100% !important; 
}  
.w-auto {
  width: auto !important; 
}  
.h-25 {
  height: 25% !important; 
}  
.h-50 {
  height: 50% !important; 
}  
.h-75 {
  height: 75% !important; 
}  
.h-100 {
  height: 100% !important; 
}  
.h-auto {
  height: auto !important; 
}  
.mw-100 {
  max-width: 100% !important; 
}  
.mh-100 {
  max-height: 100% !important; 
}  
.min-vw-100 {
  min-width: 100vw !important; 
}  
.min-vh-100 {
  min-height: 100vh !important; 
}  
.vw-100 {
  width: 100vw !important; 
}  
.vh-100 {
  height: 100vh !important; 
}

/* Padding */
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-50 {
  padding-top: 50px;
}
.ion-no-padding-top {
  padding-top:0 !important;
}
.ion-no-padding-bottom {
  padding-bottom:0 !important;
}
.ion-no-padding-left {
  padding-left: 0 !important;
}
.ion-no-padding-right {
  padding-right: 0 !important;
}
.ion-no-padding-x {
  padding-left:0 !important;
  padding-right: 0 !important;
}
.ion-no-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Margin */
.mt3{
  margin-top: 3px;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mr3{
  margin-right: 3px;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}
.mb3{
  margin-bottom: 3px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml3{
  margin-left: 3px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}

.ion-no-margin-top {
  margin-top:0 !important;
}
.ion-no-margin-bottom {
  margin-bottom:0 !important;
}
.ion-no-margin-left {
  margin-left: 0 !important;
}
.ion-no-margin-right {
  margin-right: 0 !important;
}
.ion-no-margin-x {
  margin-left:0 !important;
  margin-right: 0 !important;
}
.ion-no-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* Font Weight */

.bold,
.fw500 {
  font-weight: 500 !important;
}
.fw600 {
  font-weight: 600 !important;
}
.fw700 {
  font-weight: 700 !important;
}
.fw800 {
  font-weight: 800 !important;
}
.fw900 {
  font-weight: 900 !important;
}

/* Font Size */

.text05 {
  font-size: .5rem;
}
.text06 {
  font-size: .6rem;
}
.text07 {
  font-size: .7rem;
}
.text08 {
  font-size: .8rem;
}
.text09 {
  font-size:  .9rem;;
}
.text1 {
  font-size: 1rem !important;
}
.text12 {
  font-size: 1.2rem;
}
.text15 {
  font-size: 1.5rem;
}
.text20 {
  font-size: 2rem;
}
.text-primary {
    color: var(--ion-color-heading);
}
.text-secondary {
  color: var(--ion-color-paragraph);
}